body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    margin: 0;
    font-size: 24px;
}

p {
    margin-top: 18px;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 10px;
    background-color: #333;
    color: #fff;
}

header div {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 35px 15px;
    background-color: #fff;
    color: #333;
}

.div-section, section {
    margin-bottom: 20px;
}

#image-html {
    width: 150px;
    margin-top: 8px
}